.header {
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
}

a:link {
    padding:10px;
    text-decoration: none;
    font-size: 20px;
}
.logo-div {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:50px;
}

.search-bar{
    display:flex;
    border:1px solid transparent;
    border-radius:26px;
    margin:0 auto;
    box-shadow:0 2px 8px 1px grey;
    padding:15px;
    width:1000px;
    height:25px;
    font-size:25px;
    padding-inline-start: 45px;
}
.submit-btn {
    display: flex;
    justify-content: center;
}

.search-button {
    background-color:white;
    border:2px solid transparent;
    border-radius:10px;
    box-shadow:0 1px 4px 1px black;
    margin-right: 20px;
    margin-top: 20px;
    width:200px;
    height:50px;
    font-size:25px;
}

.find {
    text-align: left;
    padding:25px;
    border:50px; 
}

.find_inp {
    border-radius:3px;
    margin-right:5px;
    margin-left:5px;

}
.find_info {
    text-align: left;
    padding-left:20px;
    border:10px;
}

.button_advanced {
    background-color: blue;
    color:white;
    border-radius:10px;
    height:25px;
    width:200px;
    margin-left:400px;
    margin-top: 20px;
}